.bg {
  background-color: wheat;
  height: 100vh;
}
.heading {
 color: white;
  text-align: center;
 
  top: 30px;
  font-size: 50px;
  font-weight: 900;
  
  
}
.main {

display: flex;
justify-content: center;
margin-top: 100px;

}